.docs-chathub-release-tag {
    font-size: 14px;
    font-weight: bold;
    padding: 4px 6px;
    margin-left: 6px;
    background: var(--vp-c-brand);
    color: white;
    border-radius: 10px;
    vertical-align: middle;
  }